# gozlem ve degisken secimi: loc ve iloc

In [1]:
import numpy as np
import pandas as pd

In [2]:
m = np.random.randint(1,30,size=(10,3))
df = pd.DataFrame(m, columns=["var1","var2","var3"])
df

   var1  var2  var3
0     8     1    12
1    17    16    29
2    10    29    14
3    24    19    28
4    17     5     9
5    25     5     5
6    25    18     5
7    15    23    28
8    19    28     4
9     2    28     7

In [3]:
# loc: tanimlandigi sekli ile seçim yapmak için kullanılır.

In [4]:
df.loc[0:3]

   var1  var2  var3
0     8     1    12
1    17    16    29
2    10    29    14
3    24    19    28

In [5]:
df[0:3]

   var1  var2  var3
0     8     1    12
1    17    16    29
2    10    29    14

In [ ]:
#iloc alisik oldugumuz indexleme mantıgıyla seçim yapar

In [6]:
df.iloc[0:3]

   var1  var2  var3
0     8     1    12
1    17    16    29
2    10    29    14

In [7]:
df.iloc[0,0]

8

In [8]:
df.loc[0:3,"var3"]

0    12
1    29
2    14
3    28
Name: var3, dtype: int32

# KOSULU ELEMAN İSLEMLERİ

In [14]:
df[df.var1 > 15 ] ["var1"] # 15 ten büyükleri filtreleme

1    17
3    24
4    17
5    25
6    25
8    19
Name: var1, dtype: int32

In [15]:
df[(df.var1 > 15) & (df.var3<10) ]

   var1  var2  var3
4    17     5     9
5    25     5     5
6    25    18     5
8    19    28     4